version: '3'
services:
  web:
      image: nginx:latest
      ports:
          - "8080:80"
      volumes:
          - ./src:/src
          - ./config/default.conf:/etc/nginx/conf.d/default.conf
      links:
          - php
  php:
      image: php:7-fpm
      volumes:
          - ./src:/src
